<form action="<%= user_index_url %>" method="post">
  <label for="username">username:</label>
  <input type= "text"
         id= "username"
         name= "user[name]">

 <label for="password">password:</label>
 <input type= "text"
        id= "password"
        name= "user[password]">
  <button>Submit</button>
</form>
