<form action="<%= albums_url %>" method="post">
  <label for="album_name">Album Name</label>

  <input type= "text"
         id= "album_name"
         name= "album[name]">
  <button>Submit</button>
</form>
