<!DOCTYPE html>
<html>
  <head>
    <title>Evan's music</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <h1>Evan's Music System</h1>
  <!--add logout button and -->
  <body>
    <%= yield %>
  </body>
</html>
